$pointer_size: 14px;
$line_size: 9px;
$scale_border: 2px solid rgba(0, 0, 0, 0.5);

.slider {
  display: inline-flex;
  user-select: none;

  &_horizontal {
    padding: 30px $pointer_size/2;
    width: 100%;
    flex-direction: column;
  }

  &_vertical {
    padding: $pointer_size/2 30px;
    height: 100%;
  }

  &__body {
    position: relative;
    display: flex;
    background: whitesmoke;
    cursor: pointer;
    border: 1px solid dimgray {
      radius: 8px;
    }

    &_horizontal {
      height: $line_size;
      width: 100%;
    }

    &_vertical {
      width: $line_size;
      height: 100%;
      flex-direction: column;
    }
  }

  &__point {
    position: absolute;
    z-index: 1;
    height: $pointer_size;
    width: $pointer_size;
    background: coral;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    display: flex;
    cursor: grab;

    &:hover {
      z-index: 2;
    }

    &_horizontal {
      bottom: calc(50% - #{$pointer_size / 2});
      justify-content: center;
    }

    &_vertical {
      left: calc(50% - #{$pointer_size / 2});
      align-items: center;
    }

    &_hidden {
      display: none;
    }
  }

  &__tooltip {
    position: absolute;

    font-size: 12px;
    color: whitesmoke;
    background: #2d2d2d;
    border: 1px solid whitesmoke {
      radius: 4px;
    }
    padding: 3px;

    &_horizontal {
      bottom: 140%;
    }

    &_vertical {
      left: 140%;
    }

    &_hidden {
      display: none;
    }
  }

  &__range {
    height: 100%;
    width: 100%;
    background: coral;
    border-radius: 8px;

    &_hidden {
      display: none;
    }
  }

  &__scale {
    display: inline-flex;
    justify-content: space-evenly;
    cursor: pointer;

    &_horizontal {
      margin-top: 6px;
      height: 18px;
      border-left: $scale_border;
      border-right: $scale_border;
    }

    &_vertical {
      margin-right: 6px;
      width: 16px;
      flex-direction: column;
      border-top: $scale_border;
      border-bottom: $scale_border;
      align-items: flex-end;
    }

    &_hidden {
      display: none;
    }
  }

  &__scale-line {
    background: coral;
    opacity: 0.7;

    &_horizontal {
      height: 50%;
      width: 2px;
    }

    &_vertical {
      width: 50%;
      height: 2px;
    }
  }
}
