$pointer_size: 14px;
$line_size: 9px;
$scale_border: 1px solid gray;

@keyframes knock-knock {
from {    box-shadow: 0 0 4px darkgrey;}
  to{
    box-shadow: 0 0 6px whitesmoke;
  }
}
.slider {
  display: inline-flex;
  user-select: none;

  &_horizontal {
    margin: 30px 0;
    width: 100%;
    flex-direction: column;
  }

  &_vertical {
    margin: $pointer_size/2 30px;
  }

  &__body {
    position: relative;
    display: flex;
    background: #1c1c1c;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 0 2px whitesmoke;

    &_horizontal {
      height: $line_size;
      width: 100%;
    }

    &_vertical {
      width: $line_size;
      height: 100%;
      flex-direction: column;
    }
  }

  &__point {
    position: absolute;
    z-index: 1;
    height: $pointer_size;
    width: $pointer_size;
    background: radial-gradient(darkgrey, whitesmoke);
    border: 1px solid whitesmoke;
    box-shadow: 0 0 4px darkgrey;
    border-radius: 50%;
    display: flex;
    cursor: grab;

    &:hover {
      z-index: 2;
      animation: knock-knock 800ms infinite alternate;
    }

    &_grabbed {
      z-index: 2;
    }

    &_horizontal {
      bottom: calc(50% - #{$pointer_size / 2});
      justify-content: center;
    }

    &_vertical {
      right: calc(50% - #{$pointer_size / 2});
      align-items: center;
    }

    &_hidden {
      display: none;
    }
  }

  &__tooltip {
    position: absolute;

    font-size: 12px;
    color: whitesmoke;
    background: #2d2d2d;
    border: 1px solid grey {
      radius: 4px;
    }
    padding: 3px;

    &_horizontal {
      bottom: 140%;
    }

    &_vertical {
      right: 140%;
    }

    &_hidden {
      display: none;
    }
  }

  &__range {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #10445c, #453386);
    border-radius: 8px;
    box-shadow: inset darkblue 0 0 5px;

    &_hidden {
      display: none;
    }
  }

  &__scale {
    display: inline-flex;
    cursor: pointer;

    position: relative;

    &_horizontal {
      margin-top: 6px;
      height: 18px;
      border-left: $scale_border;
      border-right: $scale_border;
    }

    &_vertical {
      margin-left: 6px;
      width: 18px;
      flex-direction: column;
      border-top: $scale_border;
      border-bottom: $scale_border;
    }

    &_hidden {
      display: none;
    }
  }

  &__line {
    background: #6f61bd;
    opacity: 0.7;
    position: absolute;

    &_horizontal {
      height: 50%;
      width: 1px;
    }

    &_vertical {
      width: 50%;
      height: 1px;
    }
  }
}

.slider-plugin * {
  cursor: grabbing;
}
