include ../checkbox/checkbox
include ../field/field

mixin panel
  .panel.js-panel
    +field({name: "min", type:"number", label:"Min"})
    +field({name: "max", type:"number", label:"Max"})
    +field({name: "step", type:"number", label:"Step"})
    +field({name: "currentMax", type:"number", label:"Current"})
    +checkbox({name: "isRange", title: "Is range"})
      +field({name: "currentMin", type: "number", label: "Current 2"})
    +checkbox({name:"isVertical", title:"Is vertical"})
    +checkbox({name:"withTooltip", title:"With tooltip"})
    +checkbox({name:"withScale", title:"With scale"})
