mixin panel
  .panel.js-panel
    label.panel__input-label Min
      input(name='min' type='number').panel__min
    label.panel__input-label Max
      input(name='max' type='number').panel__max
    label.panel__input-label Step
      input(name='step' type='number').panel__step
    label.panel__input-label Current
      input(name='currentMax' type='number').panel__current-max
    label.panel__checkbox-label
      input(type="checkbox" name='isRange').panel__range
      | Is range
      .panel__config
        label.panel__input-label Current 2
          input(name='currentMin' type='number').panel__current-min
    label.panel__checkbox-label
      input(type="checkbox" name='isVertical').panel__vertical
      | Is vertical
    label.panel__checkbox-label
      input(type="checkbox" name='withTooltip').panel__tooltip
      | With tooltip
    label.panel__checkbox-label
      input(type="checkbox" name='withScale').panel__scale
      | With scale
