mixin panel
  .panel.js-panel
    label.panel__input-label Min
      input(value=0)
    label.panel__input-label Max
      input(value=100)
    label.panel__input-label Step
      input(value=1)
    label.panel__input-label Current
      input(value=5)
    label.panel__checkbox-label
      input(type="checkbox")
      | Is range
    label.panel__input-label.panel__input-label_type_range Current 2
      input
    label.panel__checkbox-label
      input(type="checkbox")
      | Is vertical
    label.panel__checkbox-label
      input(type="checkbox")
      | With tooltip
    label.panel__checkbox-label
      input(type="checkbox")
      | With lines
