.panel {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  background: #14171c;
  color: whitesmoke;
  padding: 30px;
  box-shadow: 0 0 5px #453386, inset 0 0 5px #10445c;

  > * {
    margin: 5px;
  }
}
