.panel {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  background: #7f7f7f;
  padding: 30px;
  border-radius: 10px;

  &__input-label {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
  }

  &__checkbox-label{
    margin-top: 5px;
  }

  &__config{
    display: none;
  }
  &__range:checked + &__config{
    display: initial;
  }
}
