doctype html
head
  title Slider Demo
  include ./panel/panel
body.demo
  .demo__container.js-demo__container
    +panel
    .demo__slider.js-demo__slider
  .demo__container.js-demo__container
    +panel
    .demo__slider.js-demo__slider
  .demo__container.js-demo__container
    +panel
    .demo__sliders
      .demo__slider.js-demo__slider
      .demo__slider.js-demo__slider
      .demo__slider.js-demo__slider
      .demo__slider.js-demo__slider

