doctype html
head
  title Slider Demo
body.example
  .example__slider.js-example__slider
  .example__slider.js-example__slider_ranged
  .example__slider.example__slider_vertical.js-example__slider_vertical

