input {
  background: #c2c2c2;
  border: 1px solid darkgrey {
    radius: 4px;
  }
  padding: 4px;
}

html {
  background: #525252;
  height: 100%;
}

body {
  height: 100%;
  max-width: 1440px;
  margin: auto;
}

* {
  box-sizing: border-box;
}
